<div class="container" style="margin-top:10%">
    <h3>Danh sách món</h3>
    <div>
      <a href="/admin/trash/products">Thùng rác ({{deletedCount}})</a>
      <a style="padding-left:20px; color:blue;" href="/admin/create/products">Thêm mới món</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên món ăn</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.pride}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/admin/edit/products/{{this._id}}" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-product-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng món ăn nào.
                <a href="/admin/create/products">Đăng món ăn</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete product --}}
<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa món ăn?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa món ăn này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-product-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productId;
        var deleteForm = document.forms['delete-product-form'];
        var btnDeleteProduct = document.getElementById('btn-delete-product');
        // When dialog confirm clicked
        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            productId = button.data('id');
        });
        
        // When delete product btn clicked
        btnDeleteProduct.onclick = function () {
            deleteForm.action = '/products/' + productId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>