<div class="container" style="margin-top: 10%;">
    <div>
      <a href="/admin/stored/books">Danh sách Book</a>
      <h3>Book đã xóa</h3>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 150px;">Tên khách hàng</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Time</th>
                <th scope="col">Số người</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.time}}</td>
                <td>{{this.person}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-book-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Thùng rác trống.
                <a href="/admin/stored/books">Danh sách book</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete book --}}
<div id="delete-book-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa book?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa book này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-book" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-book-form" method="POST"></form>
<form name="restore-book-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var bookId;
        var deleteForm = document.forms['delete-book-form'];
        var restoreForm = document.forms['restore-book-form'];
        var btnDeleteBook = document.getElementById('btn-delete-book');
        var restoreBtn = $('.btn-restore');
        // When dialog confirm clicked
        $('#delete-book-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            bookId = button.data('id');
        });
        
        // When delete book btn clicked
        btnDeleteBook.onclick = function () {
            deleteForm.action = '/books/' + bookId + '/force?_method=DELETE';
            deleteForm.submit();
        }
        // Restore btn clicked
        restoreBtn.click(function (e) {
          e.preventDefault();
          
          var bookId = $(this).data('id');
          restoreForm.action = '/books/' + bookId + '/restore?_method=PATCH';
          restoreForm.submit();
        });
    });
</script>